<ion-tabs class="tabs-color-active-balanced tabs-background-light tabs-striped tabs-top">

  <ion-tab title="Data" icon="ion-ios-list" ui-sref="tab.data-list">
    <ion-nav-view name="tab-datas"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Information" icon="ion-pie-graph" ui-sref="tab.information-list">
    <ion-nav-view name="tab-informations"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Knowledge" icon="ion-android-bulb" ui-sref="tab.knowledge-list">
    <ion-nav-view name="tab-knowledges"></ion-nav-view>
  </ion-tab>

</ion-tabs>
