<ion-view view-title="Business Settings">

  <ion-nav-buttons side="right">
    <button ui-sref="tab.knowledge-list" class="button icon ion-home"></button>
  </ion-nav-buttons>

	<ion-content padding="true">

    <div class="item item-avatar">
    <img ng-src="">
    <h2>{{currentBusiness.name}}</h2>
    <p>{{currentOwner.user}}</p>
    </div>

  <a ui-sref="settings-crm-points" class="item item-icon-left">
    <i class="icon ion-record balanced"></i>
    CRM Points
  </a>

  <a ui-sref="settings-taxes" class="item item-icon-left">
    <i class="icon ion-cash balanced"></i>
    Sales Taxes
  </a>

  <a ui-sref="settings-schedule" class="item item-icon-left">
    <i class="icon ion-clock balanced"></i>
    schedule
  </a>

  <a ui-sref="settings-card" class="item item-icon-left">
    <i class="icon ion-card balanced"></i>
    Card information
  </a>

  <a ui-sref="settings-contact" class="item item-icon-left">
    <i class="icon ion-chatbox balanced"></i>
    Contact us
  </a>

</div>

	</ion-content>
</ion-view>
