<ion-view view-title="Signup">
    <ion-content padding="true">
        <form ng-submit="signup()" class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label"> First name</span>
                    <input ng-model="user.first_name" type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Last name</span>
                    <input ng-model="user.last_name" type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input ng-model="user.username" type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input ng-model="user.email" type="email" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input ng-model="user.password" type="password" placeholder="">
                </label>
            </ion-list>
            <button type="submit" class="button button-balanced button-block button-outline icon-left ion-android-person-add">Sign up</button>
        </form>
    </ion-content>
</ion-view>
