<ion-view view-title="Data Detail">

	<ion-nav-buttons side="right">
		<button ui-sref="tab.data-list" class="button icon ion-home"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="left">
		<button ui-sref="tab.data-update({id: data.id})" class="button icon ion-edit"></button>
	</ion-nav-buttons>

	<ion-content padding="true">
    <div class="list card">
      <div class="item item-avatar">
				<img ng-src="img/tags/{{ data.tag }}.png">
				<h2>{{data.name}}</h2>
				<p>{{data.data_type}}</p>
			</div>
      <div class="item item-body">
				<ion-list ng-repeat="object in dataAnalytics">
					<div class="item item-divider">
	    		{{$index+1}}. {{data.data_model}}
	  			</div>
					<ion-item ng-repeat="(key, value) in object">
						<h2>{{key}}: {{value}}</h2>
					</ion-item>
				</ion-list>
      </div>
			<div class="item item-divider">
				<p>created: {{data.created | date:"MM/dd/yyyy 'at' h:mma"}}</p>
				<p>updated: {{data.updated | date:"MM/dd/yyyy 'at' h:mma"}}</p>
			</div>
    </div>
	</ion-content>
</ion-view>
