
<ion-view view-title="Data Update">
  <ion-content padding="true">
    <form ng-submit="update()" class="list">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input ng-model="data.name" type="text" placeholder="" value="">
      </label>
      <label class="item item-input item-select">
	      <span class="input-label">Tag</span>
	      <select ng-model="data.tag">
		    	<option ng-repeat="tag in tags" value="{{tag}}">{{tag}}</option>
				</select>
			</label>
      <button type="submit" class="button button-balanced button-block button-outline icon-left ion-android-add">Update</button>
      <button ng-click="cancel()" class="button button-positive button-block button-outline icon-left ion-android-arrow-back">Cancel</button>
    </form>
  </ion-content>
</ion-view>
