<ion-view view-title="Data Create">
	<ion-content padding="true">
		<form ng-submit="create()" class="list">
			<!-- NAME -->
			<label class="item item-input">
        <span class="input-label">Name</span>
        <input ng-model="data.name" type="text" placeholder="" value="">
      </label>
      <!-- TAG COLOR -->
			<label class="item item-input item-select">
	      <span class="input-label">Tag</span>
	      <select ng-model="data.tag">
		    	<option ng-repeat="(key, value) in tags" value="{{key}}">{{value}}</option>
				</select>
			</label>
			<!-- DATA TYPE -->
			<label class="item item-input item-select">
	      <span class="input-label">Data Type</span>
	      <select ng-model="data.data_type" ng-change="selectQueryType()">
					<option ng-repeat="(key, value) in dataTypes" value="{{key}}">{{value}}</option>
				</select>
			</label>
			<!-- SELECT APP -->
			<label class="item item-input item-select" ng-if="showSelectApp">
	      <span class="input-label">App</span>
	      <select ng-model="app" ng-change="selectApp(app)">
		    	<option ng-repeat="app in apps" value="{{app}}">{{app}}</option>
				</select>
			</label>
			<!-- SELECT MODEL -->
			<label class="item item-input item-select" ng-if="showSelectModel">
	      <span class="input-label">Model</span>
	      <select ng-model="model" ng-change="selectModel(model)">
		    	<option ng-repeat="model in models" value="{{model}}">{{model}}</option>
				</select>
				<div class="spacer" style="height:20px;"></div>
			</label>
			<!-- SELECT FIELDS FOR DATA TYPE ALL -->
			<div ng-if="showSelectField && data.data_type === 'all'">
				<ion-checkbox
					ng-repeat="field in fields | orderBy:'name' | filter:search.value"
					ng-value="field.id"
					ng-click="selectFieldForAll(field)">
					{{field}}
				</ion-checkbox>
				<div class="spacer" style="height:20px;"></div>
			</div>
			<!-- SELECT FIELDS FOR DATA TYPE FILTER -->
			<div ng-if="data.data_type === 'filter'">
				<ion-checkbox
					ng-repeat="field in fields | orderBy:'name' | filter:search.value"
					ng-value="field.id"
					ng-click="selectFieldForFilter(field)">
					{{field}}
				</ion-checkbox>
				<div class="spacer" style="height:20px;"></div>
			</div>

			<button type="submit" class="button button-balanced button-block button-outline icon-left ion-android-add">Create</button>
			<button type="button"  ng-click="cancel()" class="button button-positive button-block button-outline icon-left ion-android-arrow-back">Cancel</button>
		</form>
	</ion-content>
</ion-view>
