<ion-view view-title="Knowledge Detail">

	<ion-nav-buttons side="right">
		<button ui-sref="tab.knowledge-list" class="button icon ion-home"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="left">
		<button ui-sref="tab.knowledge-update({id: knowledge.id})" class="button icon ion-edit"></button>
	</ion-nav-buttons>

	<ion-content padding="true">
    <div class="list card">
      <div class="item item-divider">{{knowledge.name}}</div>
      <div class="item item-body">
				<h3 ng-repeat="information in informations | orderBy:'tag' | filter: currentBusiness.id | filter: knowledge.id">{{information.name}}</h3>
				<p>created: {{knowledge.created | date:"MM/dd/yyyy 'at' h:mma"}}</p>
				<p>updated: {{knowledge.updated | date:"MM/dd/yyyy 'at' h:mma"}}</p>
      </div>
    </div>
	</ion-content>
</ion-view>
