<ion-modal-view>

  <ion-header-bar align-title="left" class="bar-balanced">
    <div class="buttons">
      <button class="button icon ion-android-checkbox" ng-click="informationCloseModal()"></button>
    </div>
    <h1 class="title">Select Information</h1>
    <div class="buttons">
      <button class="button icon ion-android-cancel" ng-click="informationCloseModal()"></button>
    </div>
  </ion-header-bar>

  <ion-content class="has-header" ng-controller="informationListCtrl">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input ng-model="search.value" type="search" placeholder="Search" ng-change="scrollTop()">
      <button ng-if="search.value" on-touch="search.value=''" class="button button-stable button-inline button-clear icon-center ion-close">
     </button>
    </label>
    <ion-checkbox
      ng-repeat="information in informations | orderBy:'name' | filter:search.value | filter: currentBusiness.id"
      ng-value="{{'information.id'}}"
      ng-click="selectInformation(information)"
      >{{information.name}}
    </ion-checkbox>
  </ion-content>
</ion-modal-view>
