<ion-view view-title="Employee List">

	<ion-nav-buttons side="left">
		<button ng-click="addEmployeeOpenModal()" class="button icon ion-android-add-circle"></button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
		<button ui-sref="tab.knowledge-list" class="button icon ion-home"></button>
	</ion-nav-buttons>

	<ion-content padding="true">
		<ion-refresher  pulling-icon="ion-arrow-down-b" on-refresh="refresh()"></ion-refresher>
		<ion-list>
			<label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input ng-model="search.value" type="search" placeholder="Search" ng-change="scrollTop()">
        <button ng-if="search.value" on-touch="search.value=''" class="button button-stable button-inline button-clear icon-center ion-close">
       </button>
      </label>
			<ion-item ui-sref="employee-detail({ id: bs.id })" ng-repeat="employee in employees | orderBy:'name' | filter:search.value | filter: currentBusiness.id" class="item item-button-right item-avatar-left">
				<h2>{{ employee.user }}</h2>
				<div class="buttons">
				  <ion-option-button ng-click="removeEmployee(employee)" class="button button-dark button-outline icon-center ion-android-delete"></ion-option-button>
			</ion-item>
	</ion-list>
</ion-content>
