<ion-view view-title="Business Update">
  <ion-content padding="true">
    <form ng-submit="update()" class="list">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input ng-model="bs.name" type="text" placeholder="" value="">
      </label>
      <label class="item item-input">
        <span class="input-label">Country</span>
        <input ng-model="bs.country" type="text" placeholder="" value="">
      </label>
			<label class="item item-input">
        <span class="input-label">City</span>
        <input ng-model="bs.city" type="text" placeholder="" value="">
      </label>
			<label class="item item-input">
        <span class="input-label">Currency</span>
        <input ng-model="bs.currency" type="text" placeholder="" value="">
      </label>
			<label class="item item-input">
        <span class="input-label">CRM points</span>
        <input ng-model="bs.crm_points" type="text" placeholder="" value="">
      </label>
			<label class="item item-input">
        <span class="input-label">Category</span>
        <input ng-model="bs.category" type="text" placeholder="" value="">
      </label>
			<label class="item item-input">
        <span class="input-label">Type</span>
        <input ng-model="bs.type" type="text" placeholder="" value="">
      </label>
			<label class="item item-input">
        <span class="input-label">Email</span>
        <input ng-model="bs.email" type="email" placeholder="" value="">
      </label>
			<label class="item item-input">
        <span class="input-label">Website</span>
        <input ng-model="bs.email" type="text" placeholder="" value="">
      </label>
			<label class="item item-input">
        <span class="input-label">Telephone</span>
        <input ng-model="bs.email" type="tel" placeholder="" value="">
      </label>
      <label class="item item-input item-select" ng-click="addEmployeeOpenModal()">
        <span class="input-label">Add Employees</span>
        <input type="text" value="{{business.employees}}">
      </label>
      <label class="item item-input item-select" ng-click="removeEmployeeOpenModal()">
        <span class="input-label">Remove Employees</span>
        <input type="text" value="{{business.employees}}">
      </label>
      <button type="submit" class="button button-balanced button-block button-outline icon-left ion-android-add">Update</button>
      <button  type="button" ng-click="cancel()" class="button button-positive button-block button-outline icon-left ion-android-arrow-back">Cancel</button>
    </form>
    <h3>Employess</h3>
    <ion-list>
			<label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input ng-model="search.value" type="search" placeholder="Search" ng-change="scrollTop()">
        <button ng-if="search.value" on-touch="search.value=''" class="button button-stable button-inline button-clear icon-center ion-close">
       </button>
      </label>
			<ion-item ui-sref="business-detail({ id: bs.id })" ng-repeat="employee in bs.employees | orderBy:'name' | filter:search.value" class="item item-button-right item-avatar-left">
				<h2>{{employee.user}}</h2>
				<div class="buttons">
				  <ion-option-button ui-sref="business-update({id: bs.id})" class="button button-dark button-outline icon-center ion-edit"></ion-option-button>
				  <ion-option-button ui-sref="business-delete({id: bs.id})" class="button button-dark button-outline icon-center ion-android-delete"></ion-option-button>
					<ion-option-button ng-click="selectBusiness(bs)" class="button button-dark button-outline icon-center ion-android-checkbox"></ion-option-button>
				</div>
			</ion-item>
		</ion-list>
  </ion-content>
</ion-view>
