<ion-modal-view>

  <ion-header-bar align-title="left" class="bar-balanced">
    <div class="buttons">
      <button class="button icon ion-android-checkbox" ng-click="categoryCloseModal()"></button>
    </div>
    <h1 class="title">Select Category</h1>
    <div class="buttons">
      <button class="button icon ion-android-cancel" ng-click="categoryCloseModal()"></button>
    </div>
  </ion-header-bar>

  <ion-content ng-controller="businessCreateCtrl">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input ng-model="search.value" type="search" placeholder="Search" ng-change="scrollTop()">
      <button ng-if="search.value" on-touch="search.value=''" class="button button-stable button-inline button-clear icon-center ion-close">
     </button>
    </label>
    <ion-radio
      ng-repeat="(key, value) in categories | filterObject:search.value"
      ng-click="selectCategory(key, value)"
      >{{value}}
    </ion-radio>
  </ion-content>
</ion-modal-view>
