<ion-view view-title="Information Detail">

	<ion-nav-buttons side="right">
		<button ui-sref="tab.information-update({id: information.id})" class="button icon ion-edit"></button>
	</ion-nav-buttons>

	<ion-content padding="true">
    <div class="list card">
      <div class="item item-divider">{{information.name}}</div>
      <div class="item item-body">
				<h3 ng-repeat="data in datas | orderBy:'tag' | filter: currentBusiness.id | filter: information.id">{{data.name}}</h3>
				<p>created: {{information.created | date:"MM/dd/yyyy 'at' h:mma"}}</p>
				<p>updated: {{information.updated | date:"MM/dd/yyyy 'at' h:mma"}}</p>
      </div>
    </div>
	</ion-content>
</ion-view>
