<ion-modal-view>
  <ion-header-bar class="bar-balanced">
    <h1 class="title">Select Data</h1><button class="button icon ion-android-cancel" ng-click="dataCloseModal()"></button>
  </ion-header-bar>
  <ion-content>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input ng-model="search.value" type="search" placeholder="Search" ng-change="scrollTop()">
      <button ng-if="search.value" on-touch="search.value=''" class="button button-stable button-inline button-clear icon-center ion-close">
     </button>
    </label>
    <ion-checkbox
      ng-repeat="data in datas | orderBy:'name' | filter:search.value"
      ng-value="{{'data.url'}}"
      ng-click="selectData(data)"
      >{{data.name}}
    </ion-checkbox>
  </ion-content>
</ion-modal-view>
