<ion-popover-view>
  <ion-content>

    <ion-list>
      <ion-item ui-sref="profile" ng-click="popover.hide()">
        <i class="icon ion-person"></i>
        {{currentOwner.user}}
      </ion-item>
      <ion-item ui-sref="business-list" ng-click="popover.hide()">
        <i class="icon ion-briefcase"></i>
        Business
        <p>
          {{currentBusiness.name}}
        </p>
      </ion-item>
      <logout-Directive></logout-Directive>
    </ion-list>

  </ion-content>
</ion-popover-view>
